.messageSpace {
  width: 100%;
  display: inline-block;
}

.readReceipts {
  position: relative;
  bottom: 6px;
}

.chatWall {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: rgb(221, 247, 241);
}

.chatroomTitleContainer {
  width: calc(100% - 36px);
  padding: 18px;
  text-align: center;
}

.chatroomTitle {
  color: #050505;
  font-weight: 800;
  font-size: 26px;
}

.chatroomSubtitle {
  color: rgb(250, 42, 42);
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.formContainer {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 36px);
  padding: 18px;
  background-color: rgb(221, 255, 212);
}

.readReceipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}
